/* 初始化地图样式，字体 */
@font-face {
    font-family: font;
    src: url(css/hywh.ttf);
}
html,
body,
#map {
    height: 100%;
}
.leaflet-control-layers-expanded {
    padding: 0px;
    margin: 0px;
    width: 260px;
}
.leaflet-control-layers 
{
    position: absolute;
    top: 0;
    right: -1000px;
}
/* 地图筛选器样式 */
.hd {
    display: block;
    text-indent: -9999px;
    color: rgba(0, 0, 0, 0);
}
.control-containor
{
    position: fixed;
    z-index: 400;
    top: 0;
    right:-270px;
    width: 401px;
    height: 600px;
    background: url(../imgs/con_img/con_bg.png) no-repeat top right;
    background-size: 301px 600px;
    font-family: font;
}
.con-type-label-containor
{
    position: absolute;
    top: 100px;
    left: 7px;
    cursor: pointer;
}
.con-type-label
{
    width: 109px;
    height: 71px;
    line-height: 72px;
    margin-bottom:15px;
    display: none;
    color: #F2E9D7;
    font-size: 22px;
    text-align: center;
}
.lable1
{
    background: url(../imgs/con_img/classify1.png);
}
.lable2
{
    background: url(../imgs/con_img/classify2.png);
}
.lable3
{
    background: url(../imgs/con_img/classify3.png);
}
.lable4
{
    background: url(../imgs/con_img/classify4.png);
}
.con-type-label.on
{
    width: 128px;
    height: 72px;
    margin-left:-10px;
    font-size: 25px;
    line-height: 67px;
    color: #866343;
}
.lable1.on
{
    background: url(../imgs/con_img/classify1-on.png);
}
.lable2.on
{
    background: url(../imgs/con_img/classify2-on.png);
}
.lable3.on
{
    background: url(../imgs/con_img/classify3-on.png);
}
.lable4.on
{
    background: url(../imgs/con_img/classify4-on.png);
}
/* .con-close-btn
{
    position: absolute;
    z-index: 410;
    top: 50px;
    right: 50px;
    display: block;
    width: 50px;
    height: 50px;
    background: url(../imgs/con_img/close.png) no-repeat;
    background-size: 100% 100%;
} */