/* 初始化地图样式，字体 */
@font-face {
    font-family: font;
    src: url(hywh_thin.ttf);
}
html,
body,
#map {
    height: 100%;
}
.leaflet-control-layers-expanded {
    padding: 0px;
    margin: 0px;
    width: 260px;
}
.leaflet-control-layers 
{
    position: absolute;
    top: 0;
    /* right: 0px; */
    right: -1000px;
}
/* 地图筛选器样式 */
.hd {
    display: block;
    text-indent: -9999px;
    color: rgba(0, 0, 0, 0);
}
.control-containor
{
    position: fixed;
    z-index: 400;
    top: 0;
    right:-270px;
    width: 420px;
    height: 600px;
    background: url(../imgs/con_img/con_bg.png) no-repeat top right;
    background-size: 301px 600px;
    font-family: font;
}
.con-type-label-containor
{
    position: absolute;
    top: 100px;
    left: 25px;
    cursor: pointer;
}
.con-type-label
{
    width: 109px;
    height: 71px;
    line-height: 72px;
    margin-bottom:15px;
    display: none;
    color: #F2E9D7;
    font-size: 22px;
    text-align: center;
}
.lable1
{
    background: url(../imgs/con_img/classify1.png) no-repeat;
}
.lable2
{
    background: url(../imgs/con_img/classify2.png) no-repeat;
}
.lable3
{
    background: url(../imgs/con_img/classify3.png) no-repeat;
}
.lable4
{
    background: url(../imgs/con_img/classify4.png) no-repeat;
}
.lable5
{
    background: url(../imgs/con_img/classify5.png) no-repeat;
}
.con-type-label.on
{
    width: 128px;
    height: 72px;
    margin-left:-10px;
    font-size: 25px;
    line-height: 67px;
    color: #866343;
    font-weight: bold;
}
.lable1.on
{
    background: url(../imgs/con_img/classify1-on.png) no-repeat;
}
.lable2.on
{
    background: url(../imgs/con_img/classify2-on.png) no-repeat;
}
.lable3.on
{
    background: url(../imgs/con_img/classify3-on.png) no-repeat;
}
.lable4.on
{
    background: url(../imgs/con_img/classify4-on.png) no-repeat;
}
.lable5.on
{
    background: url(../imgs/con_img/classify5-on.png) no-repeat;
}
.area-list-containor
{
    position: absolute;
    top: 45px;
    left: 150px;
    width: 245px;
    display: flex;
    justify-content: space-between;
}
.area-list-li-containor
{
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    background:url(../imgs/con_img/area-list-li-off.png) no-repeat;
}
.area-list-li-containor.off
{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    background:#D2A36F;
}
.area-list-li-containor.undone
{
    opacity: 0.4;
    cursor:not-allowed;
}
.area-img1
{
    display: block;
    width: 23px;
    height: 28px;
    background:url(../imgs/l1-on.png) no-repeat;
    background-size: 100% 100%;
    margin: 2px auto 0;
}
.area-img1.off
{
    display: block;
    width: 23px;
    height: 28px;
    background:url(../imgs/l1.png) no-repeat;
    background-size: 100% 100%;
    margin: 2px auto 0;
}
.area-img2
{
    display: block;
    width: 25px;
    height: 28px;
    background:url(../imgs/l2-on.png) no-repeat;
    background-size: 100% 100%;
    margin: 2px 0 0 2.8px;
}
.area-img2.off
{
    display: block;
    width: 24px;
    height: 28px;
    background:url(../imgs/l2.png) no-repeat;
    background-size: 100% 100%;
    margin: 2px 0 0 2.8px;
}
.area-img3.off
{
    display: block;
    width: 24px;
    height: 28px;
    background:url(../imgs/l3.png) no-repeat;
    background-size: 100% 100%;
    margin: 2px 0 0 3.8px;
}
.area-img4.off
{
    display: block;
    width: 24px;
    height: 28px;
    background:url(../imgs/l4.png) no-repeat;
    background-size: 100% 100%;
    margin: 2px 0 0 2.8px;
}
.area-img5.off
{
    display: block;
    width: 24px;
    height: 28px;
    background:url(../imgs/l5.png) no-repeat;
    background-size: 100% 100%;
    margin: 2px 0 0 3.15px;
}
.area-img6.off
{
    display: block;
    width: 24px;
    height: 28px;
    background:url(../imgs/l6.png) no-repeat;
    background-size: 100% 100%;
    margin: 2px 0 0 2.8px;
}
.area-img7.off
{
    display: block;
    width: 24px;
    height: 28px;
    background:url(../imgs/l7.png) no-repeat;
    background-size: 100% 100%;
    margin: 2px 0 0 3.3px;
}
.area-text
{
    position: absolute;
    top: -18px;
    display: block;
    width: 100%;
    font-size: 14px;
    text-align: center;
    font-family: font;
    color: #866343;
}
.options-containor
{
    position: absolute;
    border-top: 1px solid rgba(0, 0, 0, 0);
    top: 82px;
    right: 17px;
    width: 255px;
    height: 497px;
    background: url(../imgs/con_img/border.png) no-repeat;
    background-size: 100% 100%;
}
.options-list
{
    margin: 20px 0 0 18px;
    width: 85%;
    height: 90%;
    padding-right:10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.options-list::-webkit-scrollbar
{
    background:none;
    width: 4px;
}
.options-list::-webkit-scrollbar-thumb
{
    background: #AB8F77;
    border-radius: 1px;
}
.options-list .map-opts
{
    position: relative;
    display: block;
    width: 90%;
    height: 40px;
    margin:10px 0 10px 10%;
    background: #AB8F77;
    line-height: 40px;
    text-indent: 40px;
    cursor: pointer;
    color: #F0E9E2;
}
.img-border
{
    position: absolute;
    top: -3px;
    left: -13px;
    width: 48px;
    height: 48px;
    background: url(../imgs/con_img/img-border.png) no-repeat;
    background-size: 100% 100%;
}
.map-opts-icon
{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 5px;
    left: 5px;
}
.bottom-rules
{
    z-index: 99999;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 70px;
    height: 25px;
    background: rgba(255, 255, 255, 0.7)
}
.disclaimer
{
    position: absolute;
    left: 10px;
    top: 5px;
    color: #0078A8;
    font-size: 12px;
}